:root {
  --siteMainPage-textColor: var(--site-primaryTextColor);
  --siteMainPage-hoverFirstColor: var(--site-primaryBgColor);
  --siteMainPage-hoverSecondColor: var(--site-secondaryBgColor);
  --siteMainPage-textSecondColor: var(--site-secondaryTextColor);
}

.site-mainPage {
  background-image: url(img/MainBg.jpg);
  // background-image: -webkit-image-set(
  //     url("img/MainBg.jpg") 2x,
  //     url("img/MainBg-little.jpg") 1x);

  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainPage-text {
  padding: 0 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: var(--siteMainPage-textColor);
  margin: 7px;

  @media screen and (min-width: 860px) {
    font-size: 36px;
  }
}

.mainPage-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  cursor: pointer;
  padding: 20px;
  margin-left: 40px;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    var(--siteMainPage-hoverSecondColor) 0%,
    rgba(251, 210, 21, 0.9) 51%,
    var(--siteMainPage-hoverSecondColor) 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: var(--siteMainPage-textSecondColor);
  text-decoration: none;
  border: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.5s;
  }

  @media screen and (hover: hover) {
    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
    }
  }
}
