:root {
  --siteMenu-BlueBrandColor: var(--site-brandColor);
  --siteMenu-orangeBrandColor: var(--site-menuTextColor2);
  --siteMenu-darkBlueBrandColor: var(--site-menuTextColor1);
  --siteMenu-lightOrangeBrandColor: var(--site-menuTextColor4);
  --siteMenu-pinkBrandColor: var(--site-menuTextColor3);
  --siteMenu-yellowBrandColor: var(--site-primaryBgColor);
}

.site-menu {
  background-image: url(img/table.jpg);
  // background-image: -webkit-image-set(
  //     url("img/table.jpg") 2x,
  //     url("img/table-little.jpg") 1x);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 20px;

  @media screen and (min-width: 1250px) {
    padding: 40px 40px;
  }
}

.menu-mainText {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 34px;
  margin-bottom: 40px;
}

.menu-secondText {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin: 40px;
}

.title-word {
  @media (prefers-reduced-motion: no-preference) {
    animation: color-animation 4s linear infinite;
  }
}

.title-word-1 {
  --color-1: var(--siteMenu-BlueBrandColor);
  --color-2: var(--siteMenu-pinkBrandColor);
  --color-3: var(--siteMenu-lightOrangeBrandColor);
}

.title-word-2 {
  --color-1: var(--siteMenu-yellowBrandColor);
  --color-2: var(--siteMenu-BlueBrandColor);
  --color-3: var(--siteMenu-orangeBrandColor);
}

.title-word-3 {
  --color-1: var(--siteMenu-darkBlueBrandColor);
  --color-2: var(--siteMenu-lightOrangeBrandColor);
  --color-3: var(--siteMenu-pinkBrandColor);
}

.title-word-4 {
  --color-1: var(--siteMenu-orangeBrandColor);
  --color-2: var(--siteMenu-darkBlueBrandColor);
  --color-3: var(--siteMenu-BlueBrandColor);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.menu-form {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 1250px) {
    flex-direction: row;
    align-items: baseline;
    gap: 70px;
    margin-left: 50px;
    font-size: 22px;
  }
}

.styled-input-single {
  position: relative;
  padding: 20px 0 20px 40px;
  text-align: left;

  label {
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      border-radius: 50%;
    }
    &:before {
      left: 0;
      width: 25px;
      height: 25px;
      margin: -15px 0 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey;
    }
    &:after {
      left: 5px;
      width: 15px;
      height: 15px;
      margin: -10px 0 0;
      opacity: 0;
      background: var(--siteMenu-BlueBrandColor);
      transform: translate3d(-40px, 0, 0) scale(0.5);

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
      }
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;

    &:checked + label {
      &:before {
      }
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

.styled-input--square {
  label {
    &:before,
    &:after {
      border-radius: 0;
    }
  }
}

.styled-input-single {
  padding-left: 45px;
}

.menu-formInput {
  display: flex;
  align-items: baseline;
  gap: 20px;
  flex-wrap: wrap;
  @media screen and (min-width: 1250px) {
    display: block;
    gap: 30px;
  }
}

.img-fruits-options {
  width: 300px;
  height: 400px;
  margin-right: -50px;
  @media screen and (min-width: 1250px) {
    width: 300px;
    height: 550px;
  }
  .fr {
    width: auto;
    height: 85%;

    @media screen and (min-width: 1250px) {
      height: 100%;
    }
  }
}

.menu-formIngredients {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (min-width: 1250px) {
  }
}

.menu-formSelect {
  cursor: pointer;
  width: 120px;
  height: 35px;
  color: var(--siteMenu-BlueBrandColor);
  border: 2px solid var(--siteMenu-BlueBrandColor);
  border-radius: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#menu-order {
  cursor: pointer;
  margin: 30px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 26px;

  padding: 14px 18px;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;

  background-image: linear-gradient(
    45deg,
    var(--siteMenu-lightOrangeBrandColor) 10%,
    var(--siteMenu-yellowBrandColor) 60%,
    var(--siteMenu-orangeBrandColor) 80%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: var(--siteMainPage-textSecondColor);
  text-decoration: none;
  border: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.5s;
  }

  @media screen and (min-width: 1250px) {
    margin: 0;
  }

  @media screen and (hover: hover) {
    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
    }
  }
}
