.site-aboutUs {
  background-image: url(img/circle-lemonade.jpg);
  // background-image: -webkit-image-set(
  //     url("img/circle-lemonade.jpg") 2x,
  //     url("img/circle-lemonade-little.jpg") 1x);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutUs-mainText {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin: 30px;

  @media screen and (min-width: 1100px) {
    margin: 50px;
    font-size: 34px;
  }
}

.aboutUs-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 650px;

  @media screen and (min-width: 1100px) {
    font-size: 24px;
    flex-direction: row;
    justify-content: space-around;
    gap: 700px;
    word-spacing: 2px;
    line-height: 49px;
    margin: 0px 50px;
  }
}

.aboutUs-secondaryText p {
  display: none;

  @media screen and (min-width: 1100px) {
    display: block;
  }
}
